.navbar .navbar-toggler {
    color: white!important;
    }

.nav-link:hover,.btn-hover:hover, .options:hover, form button:hover, .view a:hover{
    background-color: #18a289!important;
}

.navbar-toggler, .navbar-toggler-icon{
    color: white;
    border-color: white;
}

textarea:hover, input:hover{
    outline: 1px solid gray;
    border: none;
  }
  a:hover{
    opacity: 0.7;
  }
  
input:focus, input:active, textarea:focus{
    outline: 2px solid gray;
}

input[type=radio]:focus{
    outline: none;
}

button{
    border: none;
}

.footer_table{
    border: 0;
    border-bottom: 1px solid gray;
}


form .form-control {
    width: 80% !important;
    border-width: 2px;
  }
  .my-content {
    margin: 20px;
    background-color: #dcd1d1;
  }
  .content1{
    margin: 20px;
    
  }
  
  @media (max-width: 576px) { /* Change breakpoint as needed */
    .btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .navbtn{
      justify-content: center;
    }
    .btn-group button {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

/*view code page*/

@media screen and (min-width:768px) and (max-width:992px) {
    .px-md-5,.container{
        padding: 10px 0!important;
    }
}

@media screen and (max-width:768px){
    .folder{
        width: 95%;
    }
    .menu{
        text-align: center;
    }
}

@media screen and (max-width:992px) {
  .navsearch{
    display: block;
    margin: auto;
  }
}

.table-border {
  border: 2px solid #000;
  font-weight: bold;
}
.search-form input[type="search"] {
  width: 250px; /* set the width to your desired size */
  border-radius: 50px;
  border: none;
  padding: 10px;
  font-size: 16px;
}